body  {
	color: green;
	background: blue;
}

.thumbnail img {
	height: auto;
	width: 100%;
}
.blog-footer ul {
	float: right;
}
.blog-footer ul li {
	list-style: none;

}

.blog-post .post-gallery {
	background: #333;
	border: 1px #999 solid;
	color: #fff;
	padding: 10px;
	text-align: center;
}

.post-gallery h2 {
	color: #bbb;
}